{% extends 'base.html' %} {% block head %}

<title>Index</title>

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

{% endblock %} {% block body %} {% include 'nav.html' %}
<main>
  <div class="row">
    <div class="col">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for img in posts[0] %}
          <div class="swiper-slide">
            <img src="/static/img/downloads/{{img}}" alt="" />
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div style="display: flex">
        <div class="btn">
          {% if posts[2] %}
          <p
            style="
              background-color: #006a3e;
              color: #eee;
              border-radius: 5px;
              padding: 2px 5px;
            "
            class="recommend_txt"
          >
            Your crop is <b>{{posts[2]}}</b>
          </p>
          {% else %}
          <a href="/crop-recommendation" class="recommend_btn"
            >Show predicted crop</a
          >
          {% endif %}
        </div>
        &nbsp;&nbsp;
        <div class="btn">
          {% if posts[5]%}
          <p
            style="
              background-color: #006a3e;
              color: #eee;
              border-radius: 5px;
              padding: 2px 5px;
            "
          >
            Your crop registered on {{posts[5]}}
          </p>
          {% elif not posts[7] %}
          <a href="/crop-register" class="recommend_btn">Register crop</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col right">
      <div
        class="text"
        style="background-image: url(../static/img/Clouds\ in\ the\ sky.png)"
      >
        <img
          src="http://openweathermap.org/img/w/{{posts[1][3]}}.png"
          alt=""
          style="width: 100px; height: 100px"
        />
        <div>
          <p>Temperature : <b>{{posts[1][0]}}</b></p>
          <!-- <p>Temperature : <b>{{posts[4]['temperature']|round|int}}</b></p> -->
          <p>Humidity : <b>{{posts[4]['humidity']|round|int}}</b></p>
          <p>Condition : <b>{{posts[1][2]}}</b></p>
        </div>
      </div>
      <p>weather forecast</p>
      <div
        class="text main"
        style="background-image: url(../static/img/Nature.png)"
      >
        <div>
          <p>Nitrogen (N) : <b>{{posts[3]['Nitro']}}</b></p>
          <p>Phosporus (P) : <b>{{posts[3]['Phosp']}}</b></p>
          <p>Pottasium (K) : <b>{{posts[3]['Potas']}}</b></p>
          <p>pH : <b>{{posts[3]['pH']}}</b></p>
        </div>
        <div>
          <p>Water Level : <b>{{posts[3]['level']}}</b></p>
          <p>Moisture : <b>{{posts[3]['Moist']}}</b></p>
          <p>
            Electric conductivity :
            <b>{{posts[3]['EC']}}</b>
          </p>
          <p>Field temperature : <b>{{posts[3]['Temp']}}</b></p>
        </div>
      </div>
    </div>
  </div>
  <!-- write here -->

  <br /><br />
  <center>
    {%if posts[6]%}
    <h3>Your crop is in {{posts[6]}}</h3>
    {%endif%}
  </center>
  <br />
  {%if posts[7]%}
  <div
    style="display: flex; align-items: center; justify-content: space-evenly"
    class="fertilizer-row"
  >
    <div>
      {%if posts[3]['Nitro'] >
      posts[7]['Nitrogen']['critical']['amount_of_fertilizer']%}
      <p>
        Type of fertilizer :
        <b>{{posts[7]['Nitrogen']['critical']['type_of_fertilizer']}}</b>
      </p>
      <p>Recommended brand</p>
      <img
        src="static/img/{{posts[7]['Nitrogen']['critical']['brands']}}"
        alt=""
      />
      {%endif%}
    </div>
    <br />
    <div>
      {%if posts[3]['Phosp'] >
      posts[7]['Phosphorus']['critical']['amount_of_fertilizer']%}
      <p>
        Type of fertilizer :
        <b>{{posts[7]['Phosphorus']['critical']['type_of_fertilizer']}}</b>
      </p>
      <p>Recommended brand</p>
      <img
        src="static/img/{{posts[7]['Phosphorus']['critical']['brands']}}"
        alt=""
      />
      {%endif%}
    </div>
    <br />
    <div>
      {%if posts[3]['Potas'] >
      posts[7]['Potassium']['critical']['amount_of_fertilizer']%}
      <p>
        Type of fertilizer :
        <b>{{posts[7]['Potassium']['critical']['type_of_fertilizer']}}</b>
      </p>
      <p>Recommended brand</p>
      <img
        src="static/img/{{posts[7]['Potassium']['critical']['brands']}}"
        alt=""
      />
      {%endif%}
    </div>
  </div>
  {%endif%}
</main>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<!-- <script type="text/javascript">
  setInterval("window.location.reload()", 5000);
</script> -->

<br />

{% include 'footer.html' %}

<br />

{% endblock %}
